<configuration packagingData="true">

    <property name="MSG_INFO" value="%-5level %logger{1}.%-15method" />
    <Property name="EX_PATTERN" value="%xException{5}" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n${EX_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="org.oracp" level="INFO"/>
    <logger name="org.oracp.sql" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
