<configuration packagingData="true">

    <property name="MSG_INFO_COLOR" value="%highlight(%-5level) %boldYellow(%-30(%logger{1}.%method))" />
    <property name="MSG_INFO" value="%-5level %-30(%logger{1}.%method)" />
    <Property name="EX_PATTERN" value="%rootException{5}" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${MSG_INFO_COLOR} - %msg%n${EX_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="org.oracp" level="INFO"/>
    <logger name="org.oracp.sql" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
